antropy==0.1.6
catboost==1.2.5
fastparquet==2024.2.0
joblib==1.3.2
matplotlib==3.8.3
mne==1.7.0
numpy==1.26.4
pandas==2.2.2
plotly==5.21.0
plotly_resampler==0.10.0
pyarrow==16.0.0
pyEDFlib==0.1.37
scikit_learn==1.4.1.post1
scipy==1.13.0
seaborn==0.13.2
tensorflow==2.16.1
tensorflow_intel==2.16.1
tqdm==4.66.2
tsflex==0.4.0
yasa==0.6.4
